/**
 * Panel styling.
 */
.panel-title {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;

  &,
  &:hover,
  &:focus,
  &:hover:focus {
    color: inherit;
    text-decoration: none;
  }
}

.analytics-date-range-box {
  width:100%;
  float:left;
  padding-bottom:10px;
  text-align:left;
}

.analytics-date-range-title {
  color:#b3b7b8;
  font-size:12px;
}