{#
/**
 * @file
 * Default theme implementation for the ixm dashboard page.
 *
 * Available variables:
 * - displays: renderable display items.
 *
 * @see template_preprocess_ixm_dashboard()
 *
 * @ingroup themeable
 */
#}
<div class="page-dashboard">

  {% if dashboard_admin is not empty %}
  <div class="header">
    <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          {% for key, item in dashboard_admin %}
            <li {{ item.attributes.addClass('nav-item') }}>
              {{ item.link }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  {% endif %}

  <div class="dashboard-region-content">
    <div class="container">
      <h1 class="page-title">{{ page['#title'] }}</h1>
      <div class="row mb-4">
        <div class="col-md">
          <p>{{ "The IXM Dashboard can display widgets from any active display. Displays may provide their own settings as well."|t }}</p>
        </div>
        <div class="col-md">
          <a href="{{ path('ixm_dashboard.overview') }}" class="float-right button btn btn-primary">{{ "Configure Dashboard"|t }}</a>
        </div>
      </div>
      <div class="content">
        {{ page.content }}
      </div>
    </div>
  </div>

</div>

